.container224
{
    height: 75em;
    width: 75em;
    background-color: #07530d;
    margin-left: auto;
    margin-right: auto;
}
.headContainer
{
    height: 9.4em;
    width: 100%;
    background-color: white;
    background-image: url("techgreen.jpg");
    margin-top: -1.85em;
}
h1
{
	font-size: 2em;
	font-family: Times;
	width: 6em;
	margin-right: auto;
	margin-left: auto;
	padding-top: 1em;
    color: white;
}
    

.bod
{
    background-color: black;
    height: 80em;
    width: 80em;
    margin-left: auto;
    margin-right:auto;
}

.galleryCon
{
    height: 50em;
    width: 40em;
    margin-right: auto;
    margin-left: auto;
    overflow: scroll;
    padding-top: 2em;
    margin-top: 2em;
    background-color: #474746;
    border: 2px solid skyblue;
}

.gameGallery
{
    height: 10em;
    width: 15em;
    list-style: none;
    display: inline;
    margin-left: 10em;
    margin-right: 1.5em;
    border: 1px solid green;
    margin-top: 2em
}

.gameGalleryDesc
{
    padding-top: 3px;
    text-align:center;
    margin-top: -.1em;
    margin-left: 7em;
    font-family: Impact;
    color: #41e189;
    height:6em;
    width:20em;
    background-color: #39004c;
    border-radius: 10px;
    border: 1px solid white; 
    padding-bottom: 1em;
}